<div th:replace="header"></div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="card mt-5 col-lg-8">
            <div class="card-header">
                <h3> Functionalities:</h3>
                <p>- Get a perfect number;</p>
                <p>- Get a set of perfect numbers between 2 numbers</p>
            </div>

            <div class="card-body">
                <p><h3>Notes:</h3></p>
                <p>Perfect numbers are positive integers that are equal to the sum of their positive proper divisors,
                    excluding the number itself. In other words, a perfect number is one whose sum of its divisors
                    (excluding itself) is equal to the number itself.</p>
                <p>
                    For example, the number 28 is a perfect number because its proper divisors are 1, 2, 4, 7 and 14,
                    and the sum of these is 1 + 2 + 4 + 7 + 14 = 28.
                </p>
                <p>
                    The first known perfect numbers are 6, 28, 496, and 8128. The mathematical property of perfect
                    numbers has been studied since antiquity, and the search for new perfect numbers continues to be a
                    topic of research in number theory. As of the time of my last update in January 2022, it is unknown
                    whether odd perfect numbers exist, although several have been discovered.
                </p>

            </div>
        </div>
    </div>


</div>
<div th:replace="footer"></div>